<form name="deleteForm" (ngSubmit)="confirmDelete(campaign.id)">
    <div class="modal-header">
        <h4 class="modal-title">Confirma operatiunea de stergere</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-campaign-heading">Esti sigur ca vrei sa stergi aceasta campanie?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Inchide</span>
        </button>
        <button id="jhi-confirm-delete-campaign" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Sterge</span>
        </button>
    </div>
</form>
