<div class="row">
    <div class="col-md-9">
        <h3 class="display-4">Bine ai venit pe platforma de bonusare vanzari!</h3>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> Esti logat ca "{{account.firstName}}, {{account.lastName}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Logeaza-te </span>
                <a class="alert-link" (click)="login()">aici</a>
            </div>
        </div>
    </div>
</div>
